<div flex-container>
    <h1>{{person.first}} {{person.last}}</h1>
    <div class="card-container flex-container">
        <ng-container *ngFor=" let book of books; trackBy: trackByFn;">
            <a class="card">
                <!--<svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M9.4 16.6L4.8 12l4.6-4.6L8 6l-6 6 6 6 1.4-1.4zm5.2 0l4.6-4.6-4.6-4.6L16 6l6 6-6 6-1.4-1.4z"/></svg>-->
                
                <span>{{book.title}}</span>
                <mat-progress-bar value="40" class="right-25"></mat-progress-bar>

                <!--<svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>-->
            </a>
        </ng-container>
    </div>
</div>