<div flex-container>
    <h1>{{getFirst()}} {{getLast()}}</h1>
    <button id="btnAdd" (click)="onClickMe()" title="הוסף ספר לימוד">
    </button>
    <div class="card-container flex-container">
        <div class="divTable">
            <div class="divTableBody">
                <ng-container *ngFor=" let book of person_books; trackBy: trackByFn;">
                    <div class="divTableRow">
                        <div class="divTableCell" style="width: 5%;">
                            <a class="card-grid">
                                <div class="card-grid-button">
                                    <button id="btnDelete" (click)="onClickRemove($event, book)" title="הסר ספר לימוד"></button>
                                    <button id="btnEdit" *ngIf="!book.editState" (click)="onClickEdit($event, book)" title="ערוך כרטיסיה"></button>
                                    <button id="btnCancel" *ngIf="book.editState" (click)="onClickCancel($event, book)" title="בטל שינויים"></button>
                                    <button id="btnSave" *ngIf="book.editState" (click)="onClickSave($event, book)" title="שמור שינויים"></button>
                                </div>
                                <div class="card-grid-horiz-blank"></div>
                                <div class="card-grid-header">
                                    {{book.title}}
                                </div>
                                <div class="card-grid-vert-blank"></div>
                                <div class="card-grid-progress">
                                    <mat-progress-bar [value]="book.prog_percent" class="right-25"></mat-progress-bar>
                                </div>
                                <div class="card-grid-slider" *ngIf="book.editState">
                                    <mat-slider thumbLabel [displayWith]="formatLabel" tickInterval="1" [value]="book.prog_percent" min="0" max="100" (input)='setSliderValue($event, book)'>
                                    </mat-slider>
                                </div>
                            </a>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>

    <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="divTable">
            <div class="divTableBody">
                <div class="divTableRow">
                    <div class="divTableCell" style="width: 5%;"><label for="books">קטגוריות</label></div>
                    <div class="divTableCell">
                        <select formControlName="categories" id="categories" (change)="onChangeCateg()">
                <option *ngFor="let categ of categories" [ngValue]="categ">
                  {{categ.name}}
                </option>
              </select></div>
                </div>
                <div class="divTableRow">
                    <div class="divTableCell"><label for="books">ספרים</label></div>
                    <div class="divTableCell">
                        <select formControlName="books" id="books" (change)="onChangeBook()">
                <option *ngFor="let book of books" [ngValue]="book">
                  {{book.title}}
                </option>
              </select>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>